<template>
	
	<div class="rel">
		<input 
			type="text"
			class="text-field clean"
			@keyup.down="stepDown"
			@keyup.up="stepUp"
			@keydown.enter="selectClient(-1)"
			@keyup.prevent="filterBySearch()"
			@keyup.esc="isOpen=false"
			@keyup="typed"
			v-model="inputString"
			autofocus
		>

		<transition v-on:before-enter="beforeEnter" v-on:enter="slideIn" v-bind:css="false">
			<div class="dropdown-list" v-show="isOpen">
				<div class="inner-content" id="list-items">
					<div 
						class="dropdown-list__item" 
						v-for="client, idx in filteredClients"
						@click.prevent="selectClient(idx)"
						v-bind:class="{'is-selected': idx == selectedIndex}"
					>
						{{client.name}}
					</div>
				</div>
			</div>
		</transition>

	</div>

</template>

<script>

import * as Api from '../api/api.js'

	export default {

		props: ['clientId'],

		mounted() {

			Api.get('clients', (response) => {
				this.clients = response
				this.filteredClients = response

				setTimeout(() => { 
					if( this.clientId )
						this.selectClientById()
				}, 20)
			})

		},

		data() {
			return {
				inputString: '',
				isOpen: false,
				selectedIndex: null,
				filterableKeys: ['name'],
				filteredClients: [],
				clients: [],
				selectedClient: null
			}
		},

		watch: {
			clientId() {
				if( !this.selectedClient )
					this.selectClientById()
			}
		},

		methods: {

			typed() {
				this.$emit('typed', this.inputString)
			},

			doVisibilityCheck() {
				this.isOpen = ((this.inputString != '') && this.filteredClients.length > 0 && this.selectedClient == null)
			},

			selectClientById() {

				this.clients.some((client, idx) => {
					
					if(client.id == this.clientId)
						this.selectClient(idx)

				})

			},

			selectClient(idx) {
				
				idx = (idx == -1) ? this.selectedIndex : idx

				this.selectedClient = this.filteredClients[idx]
				this.inputString = this.selectedClient.name
				this.isOpen = false

				if( this.selectedClient )
					Events.$emit('selectedClient', {
						'clientId': this.selectedClient.id,
						'clientName': this.selectedClient.name,
						'client': this.selectedClient
					});

			},

			filterBySearch: function() {
				
				if( ! _.find(this.clients, (o) => {
					return o.name == this.inputString
				}))
					this.selectedClient = null

				if( this.inputString == "" ) {
					this.filteredClients = this.clients
					this.doVisibilityCheck()
					return
				}

				this.filteredClients = this.clients.filter((item) => {

					return this.regexMatch( item )

				})

				this.$nextTick(() => {
					this.doVisibilityCheck()
				})

			},

			regexMatch: function( item ) {
				
				var regex = new RegExp( this.inputString, 'i' )

				return this.filterableKeys.some((key) => {

					return regex.test( item[key] )

				})
			},

			calculateScrollTop() {

				var el = this.$el.querySelector('#list-items')

				if( this.selectedIndex > 4)
					el.scrollTop = (this.selectedIndex-4) * 25;
				else
					el.scrollTop = 0
			},

			stepDown() {
				
				this.selectedIndex = (this.selectedIndex!==null) ? this.selectedIndex+1 : 0;
				
				if( this.selectedIndex > this.filteredClients.length-1 )
					this.selectedIndex = 0

				this.calculateScrollTop()

				this.isOpen = true

			},
			stepUp() {
				
				this.selectedIndex = (this.selectedIndex==null) ? this.selectedIndex = this.filteredClients.length : this.selectedIndex-1;

				if( this.selectedIndex == -1 )
					this.selectedIndex = this.filteredClients.length-1

				this.calculateScrollTop()

				this.isOpen = true

			},

            beforeEnter: function (el) {
                el.style.opacity = 0
            },
            
            slideIn: function (el, done) {
              anime({
                targets: el,
                translateX: ['-50%', '-50%'],
                translateY: [20, 0],
                scale: [.9, 1],
                duration: 400,
                opacity: 1,
                easing: 'easeOutExpo'
              })
          	},

            slideOut: function (el, done) {
              anime({
                targets: el,
                translateX: ['-50%', '-50%'],
                translateY: [0, 10],
                duration: 400,
                opacity: 0,
                easing: 'easeOutExpo',
                complete: () => {
                	el.style.display='none'
                }
              })
          	},

		}

	}
</script>