<template>
    
	<div class="fancy-dropdown">
		
	</div>

</template>

<script>
    export default {
        
        props: ['data'],

        data() {
            return {
            	
            }
        },
        mounted() {

        },

        computed: {

        },

        methods: {

        },

        components: {

        }
    }
</script>