<template>
	
	<div class="estimate-controls hide-for-print">
    
		<div class="sticky">

	    	<transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-bind:css="false">
			<div class="input-group higher-z" data-delay="0" v-show="isLoaded">
				<label for="">Kund</label>
				<Clientdropdown
					:clientId="estimate.client.id"
				></Clientdropdown>
			</div>
			</transition>

	    	<transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-bind:css="false">
			<div class="input-group" data-delay="75" v-show="isLoaded">
				<label for="">Beskrivning</label>
				<textarea type="text" name="description" class="text-field clean" rows="4" v-model="estimate.description"></textarea>
			</div>
			</transition>

	    	<transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-bind:css="false">
			<div class="input-group" data-delay="150" v-show="isLoaded">
				<label for="">Taggar</label>
				<textarea type="text" name="tags" class="text-field clean" rows="4" v-model="estimate.tags"></textarea>
				<small>Kommaseparerade taggar, för lättare sökning.</small>
			</div>
			</transition>

	    	<transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-bind:css="false">
			<div class="input-group" data-delay="185" v-show="isLoaded">
				<label for="">Kategorier</label>
				<div class="checkbox-group">
					<label class="forBox" v-for="category, idx in categories">
						<input
							type="checkbox"
							:checked="hasCategory(category.id)"
							@change="toggleCategory(category)"
						>
						<div class="nice-checkbox"></div>
						{{category.title}}
					</label>
				</div>
			</div>
			</transition>

	    	<transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-bind:css="false">
			<div class="input-group inline" data-delay="225" v-show="isLoaded">
				
				<fancy-checkbox 
					v-model="estimate.public"
					:true-value="1"
					:false-value="0"
					label="Publik"
				></fancy-checkbox>

			</div>
			</transition>

	    	<transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-bind:css="false">
			<div class="input-group inline" data-delay="225" v-show="isLoaded">
				
				<fancy-checkbox 
					v-model="estimate.approved"
					:true-value="1"
					:false-value="0"
					label="Godkänd"
				></fancy-checkbox>

			</div>
			</transition>

			<div class="input-group flexed">
				<transition v-on:before-enter="beforeEnter" v-on:enter="enterSide" v-bind:css="false">
					<button @click.prevent="saveEstimate()" v-bind:class="{ 'disabled' : !isDirty }" v-show="isLoaded" data-delay="300" class="btn btn-primary full-width btn-box"><i class="fa fa-floppy-o"></i></button>
				</transition>
				<transition v-on:before-enter="beforeEnter" v-on:enter="enterSide" v-bind:css="false">
					<button onclick="window.print();" v-show="isLoaded" data-delay="400" class="btn btn-default full-width btn-box"><i class="fa fa-print"></i></button>
				</transition>
				<transition v-on:before-enter="beforeEnter" v-on:enter="enterSide" v-bind:css="false">
					<button v-show="isLoaded" data-delay="500" class="btn btn-danger full-width btn-box"><i class="fa fa-trash"></i></button>
				</transition>
			</div>

			<div class="input-group">
				<small v-html="autoSavedAt" v-if="autoSavedAt"></small>
			</div>
		
		</div>

	</div>

</template>

<script>
	
	import FancyCheckbox from "./FancyCheckbox.vue"
	import ClientDropdown from "./ClientDropdown.vue"
	import * as Api from "../api/api"

	export default {

		mounted() {

	        Events.$on('estimateLoaded', (estimate) => {
	            this.estimate = estimate
	            this.isLoaded = true
	            setTimeout(() => {
	            	this.isDirty = false;
	            }, 250)
	        })

	        Events.$on('selectedClient', (client) => {
	        	this.client_id = client.clientId
	        	this.estimate.client = client.client
	        })

	        Api.get('categories', (response) => {
	        	this.categories = response
	        })

	        this.initiateAutoSave();

		},

		watch: {
			estimate: {
				handler: function(new_val, old_val) {
					this.isDirty = true;
				},
				deep: true
			}
		},

		data() {
			return {
				isLoaded: false,
				categories: [],
				estimate: { client: { 'name': '' }},
				isDirty: false,
				autoSavedAt: ''
			}
		},

        methods: {

        	saveEstimate() {

        		Api.patch(`estimates/${this.estimate.id}`, this.estimate, (response) => {
        			this.isDirty = false;
        		});

        	},

        	initiateAutoSave() {

        		setInterval(() => {
        			if( this.isDirty )
        				this.$nextTick(() => {
	        				var d = new Date();
	        				this.autoSavedAt = 'Autosparat <i class="fa fa-clock-o" style="color: #2d9;"></i> ' + d.toLocaleTimeString();
	        				this.saveEstimate();        					
        				})
        		}, 30000);

        	},

        	hasCategory(id) {
        		return _.find(this.estimate.categories,(o) => {
        			return o.id === id
        		})
        	},

        	toggleCategory(category) {
        		
        		var exists = _.find(this.estimate.categories, (o) => {
        			return o.id === category.id
        		})

        		if( exists ) {
        			_.remove(this.estimate.categories, (o) => {
        				return o.id === exists.id
        			})
        		} else {
        			this.estimate.categories.push({
        				'id': category.id,
        				'title': category.title
        			})
        		}
        	},

            beforeEnter: function (el) {
                el.style.opacity = 0
            },
            
            enter: function (el, done) {
              anime({
                targets: el,
                translateY: [-20, 0],
                duration: 1200,
                delay: el.dataset.delay,
                opacity: 1,
                easing: 'easeOutExpo'
              })
          	},

            enterSide: function (el, done) {
              anime({
                targets: el,
                translateX: [-20, 0],
                duration: 1200,
                delay: el.dataset.delay,
                opacity: 1,
                easing: 'easeOutExpo'
              })
          	},

       },

		components: {
			'fancy-checkbox': FancyCheckbox,
			'Clientdropdown': ClientDropdown
		}

	}
</script>