<template>

	<div class="list-wrap">

		<div class="filters">
			<input type="text" class="text-field search" @keyup.prevent="filterResults()" v-model="filterText" placeholder="Sök...">
			<div style="text-align: right; padding-top: 7px; min-width:150px;">
				<div class="button-group">
					<button class="toggle-button" @click.prevent="filtersOpen = !filtersOpen" :class="{'is-active' : filtersOpen}"><i class="fa fa-sliders"></i></button>
				</div>
				<div class="button-group">
					<button class="toggle-button" @click.prevent="toggleListView(1)" :class="{'is-active' : currentViewType == 1 }"><i class="fa fa-th-large"></i></button>
					<button class="toggle-button" @click.prevent="toggleListView(2)" :class="{'is-active' : currentViewType == 2} "><i class="fa fa-list"></i></button>
				</div>
			</div>
		</div>
		<div class="deep-filters" v-if="this.filtersOpen">
			<div class="filter-group">
				<h5>Estimatstorlek</h5>
				<vue-slider
					:min="filters.minEstimate"
					:max="filters.maxEstimate"
					:formatter="'{value}h'"
					:clickable="false"
					:piecewise="true"
					:piecewiseStyle="{'backgroundColor': '#ccc', 'opacity':'.5', 'visibility': 'visible', 'width': '2px', 'height': '12px', 'border-radius': '0px'}"
					:piecewiseActiveStyle="{'backgroundColor': '#3498db', 'opacity':'.5', 'visibility': 'visible', 'width': '2px', 'height': '12px', 'border-radius': '0px'}"
					:labelActiveStyle="{'color': '#3498db'}"
					:step="100"
					:data="filters.estimateSteps"
					:width="'100%'"
					:value="filters.estimateSize"
					@callback="sliderFilter">
				</vue-slider>
			</div>
			<div class="filter-group">
				<h5>Kategori</h5>
				<div class="checkbox-group">
					<label class="forBox" v-for="category, idx in categories">
						<input
							type="checkbox"
							:checked="hasCategory(category.id)"
							@change="toggleCategory(category)"
						>
						<div class="nice-checkbox"></div>
						{{category.title}}
					</label>
				</div>
			</div>
		</div>

		<div style="padding: 4% 2% 0 2%;">
			Visar {{filteredCards.length}} estimat av totalt {{cards.length}}
		</div>

		<div class="list-headers" v-if="currentViewType == 2">
			<p class="text-small" @click.prevent="sortBy('client')">Kund</h5>
			<p class="text-small" @click.prevent="sortBy('description')">Beskrivning</p>
			<p class="text-small" @click.prevent="sortBy('created_at')">Skapad</p>
			<p class="text-small" @click.prevent="sortBy('updated_at')">Uppdaterad</p>
			<p class="text-small" @click.prevent="sortBy('user')">Skapad av</p>
			<p class="text-small" @click.prevent="sortBy('totalHours')" style="text-align: right;">Total</p>
		</div>
		<transition-group
			class="estimate-list"
			v-bind:class="getViewTypeClass"
			tag="div"
		    v-bind:css="false"
		    v-on:before-enter="beforeEnter"
		    v-on:enter="enter"
		>
			<Estimatecard
				v-for="card,idx in filteredCards"
				v-bind:data-index="idx"
				:card="card"
				:key="idx"
				:idx="idx"
				:viewType="currentViewType"
			></Estimatecard>
		</transition-group>

	</div>

</template>

<script>

import * as Api from '../api/api'
import Estimatecard from './EstimateCard'
import FancyCheckbox from './FancyCheckbox'
import _ from 'lodash'
import vueSlider from 'vue-slider-component'

export default {

	mounted() {

		Api.get('estimates', (response) => {
			this.cards = response

			let maxValue = 0;

			this.cards.forEach((card) => {
	            let cur = card.groups.reduce((carry, group) => {
	                return carry += group.rows.reduce((carry, row) => carry += row.hours, 0)
	            }, 0)

	            card.quickCats = []
	            card.categories.forEach((cat) => {
	            	card.quickCats.push(cat.id)
	            })

	            if( cur > maxValue )
	            	maxValue = cur

	            card.totalHours = cur
			})

			this.filters.maxEstimate = Math.ceil(maxValue/100)*100
			this.filters.estimateSize = [0, this.filters.maxEstimate]

			for(var n = 0; n<=this.filters.maxEstimate; n+=100)
				this.filters.estimateSteps.push(n)

			this.filteredCards = this.cards

		})

		Api.get('clients', (response) => {
			this.clients = response
		});

		Api.get('categories', (response) => {
			this.categories = response
		});

	},

	data() {
		return {
			isLoading: true,
			clients: [],
			categories: [],
			cards: [],
			currentViewType: 1,
			viewTypes: {
				1: "estimate-list--grid",
				2: "estimate-list--list"
			},
			reverseSort: false, 
			filterText: '',
			hasSearched: false,
			filteredCards: [],
			filterableKeys: ['client', 'description', 'tags'],
			filtersOpen: false,
			filters: {
				estimateSize: [],
				estimateSteps: [],
				minEstimate: 0,
				maxEstimate: 0,
				categories: []
			}
		}
	},

	computed: {

		getViewTypeClass() {
			return this.viewTypes[this.currentViewType]
		},

	},

	methods: {

		sliderFilter(sliderData) {
			this.filters.estimateSize = sliderData
			this.filterResults()
		},

		hasCategory(catId) {
			return (this.filters.categories.indexOf(catId) !== -1)
		},
		toggleCategory(category) {
			let exists = _.find(this.filters.categories, (o) => {
				return o === category.id
			})

			if( exists ) {
				_.remove(this.filters.categories, (o) => {
					return o === exists
				})
			} else {
				this.filters.categories.push(category.id)
			}
			this.filterResults()
		},

		sortText(text) {
			
			if( this.reverse )
				return `${text} ▲`
			
			return `${text} ▼`
		},

		toggleListView(view) {
			this.currentViewType = view
		},

		sortBy: function(key) {

			let data = _.sortBy(this.filteredCards, (o) => {
				
				if( key == 'client' )
					return o.client.name.toLowerCase()

				if( key == 'user' )
					return o.user.name.toLowerCase()

				if( key == 'total' )
					return o.total
				
				return o[key]
			});

			if( this.reverseSort )
				_.reverse(data)

			this.reverseSort = !this.reverseSort

			this.filteredCards = data

		},

		filterResults: function() {
			
			this.hasSearched = true

			let results = this.cards.filter((card) => {
				return (card.totalHours >= this.filters.estimateSize[0] && card.totalHours <= this.filters.estimateSize[1])
			});

			// Category filter
			if( this.filters.categories.length > 0 ) {
				results = results.filter((item) => {
					let res = _.intersection(item.quickCats, this.filters.categories)
					return res.length > 0
				})
			}

			if( this.filterText == "" ) {
				this.filteredCards = results
				return
			}

			this.filteredCards = results.filter((item) => {

				return this.regexMatch( item )

			})

		},

		regexMatch: function( item ) {
			
			var regex = new RegExp( this.filterText, 'i' )

			return this.filterableKeys.some((key) => {

				if( key=='client' )
					return regex.test( item.client.name)

				return regex.test( item[key] )

			})
		},

        beforeEnter: function (el) {
            if( !this.hasSearched )
            	el.style.opacity = 0
        },
        
        enter: function (el, done) {
          if( !this.hasSearched )
	          anime({
	            targets: el,
	            delay: el.dataset.index * 50,
	            translateY: [-20, 0],
	            opacity: 1,
	          })
        }

	},

	components: {
		'Estimatecard': Estimatecard,
		vueSlider,
		FancyCheckbox
	}

}

</script>