<template>
	
	<div class="sub-nav-wrap">
	
		<div class="wrap">

			<nav class="sub-nav">
				<transition v-on:before-enter="beforeEnter" v-on:leave="slideOut" v-on:enter="slideIn" v-bind:css="false">
					<span v-if="!creatingNew" class="il-block abs abs--top-left">
						<a href="/" class="sub-nav__item" @click.prevent="creatingNew = !creatingNew"><i class="fa fa-fw fa-plus"></i> Nytt Estimat</a>
					</span>
				</transition>
				<div class="new-estimate-wrapper abs abs--top-left" v-show="creatingNew">
					<transition-group
						class="new-estimate-items"
						tag="span"
					    v-bind:css="false"
					    v-on:before-enter="beforeEnter"
					    v-on:enter="slideInStaggered"
					>
						<span :key="'1'" class="sub-nav__text" data-stagger="50" v-show="creatingNew">Välj kund</span>
						<Clientdropdown :key="'2'" data-stagger="150" v-show="creatingNew" @typed="typed"></Clientdropdown>
					</transition-group>
					<button
						v-bind:class="{'is-disabled': !clientName}"
						class="btn btn-primary btn--small btn--has-icon"
						style="top: 2px; margin-left: 15px;"
						@click="createEstimate()"
						v-show="clientName"
					>
						<i class="fa fa-fw fa-plus fixed before-hover"></i><i class="fa fa-fw fa-thumbs-up fixed after-hover"></i> {{createNewText}}
					</button>
				</div>
			</nav>

		</div>

	</div>

</template>

<script>

	import ClientDropdown from './ClientDropdown.vue'
	import * as Api from '../api/api.js'

	export default {

		mounted() {

			Events.$on('selectedClient', (data) => {
				this.clientId = data.clientId,
				this.clientName = data.clientName
			});

		},

		data() {
			return {
				creatingNew: false,
				clientId: -1,
				clientName: ''
			}
		},

		methods: {

			typed(text) {
				this.clientName = text
			},

			createEstimate() {
				if( !this.clientName )
					return;

				Api.post('estimates', {'client_id': this.clientId, 'client_name': this.clientName}, (response) => {
					window.location.href = `/${response.id}`
				});
			},

            beforeEnter: function (el) {
                el.style.opacity = 0
            },
            
            slideIn: function (el, done) {
              anime({
                targets: el,
                translateX: [-20, 0],
                duration: 800,
                opacity: 1,
                easing: 'easeOutExpo'
              })
          	},

            slideInStaggered: function (el, done) {
              anime({
                targets: el,
                delay: el.dataset.stagger,
                translateX: [-20, 0],
                duration: 800,
                opacity: 1,
                easing: 'easeOutExpo'
              })
          	},

            slideOut: function (el, done) {
              anime({
                targets: el,
                translateX: [0, 20],
                duration: 800,
                opacity: 0,
                easing: 'easeOutExpo',
              })
          	},
		},

		computed: {
			createNewText() {
				return (this.clientId > 0 || this.clientName == '') ? 'Skapa estimat' : 'Skapa kund & estimat'
			}
		},

		components: {
			'Clientdropdown': ClientDropdown
		}

	}
</script>