<template>
    
    <transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-bind:css="false">
    <div class="estimate-container" id="estimate-container" v-show="isLoaded">

        <button @click="toggleAllGroupCollapse" v-text="(allGroupsCollapsed) ? 'Fäll ut alla' : 'Fäll ihop alla'">Fäll ihop alla</button>

        <h2 class="h4 divider" v-text="estimate.client.name ? estimate.client.name :  'Tidsestimat'"></h2>
        <p class="estimate-description">{{ estimate.description }} </p>

        <div class="estimate-wrap">

            <div class="estimate-items" id="estimate-items">
                <e-group 
                    @delete-group="deleteGroup"
                    @toggle-collapse="handleGroupCollapse"
                    v-for="(group, idx) in estimate.groups" 
                    :group="group"
                    :id="idx"
                    :key="idx"
                    :collapsed="collapsedGroups"
                ></e-group>
            </div>

            <div class="add-new-group" data-for-client="false">
                <i class="fa fa-plus"></i> Lägg till grupp
                <nav class="templates">
                    <a
                    v-for="template in templates"
                    @click.prevent="addGroup(template.template)"
                    href="#"
                    class="animated-border"
                    ><i class="fa fa-fw fa-list-alt"></i> {{template.title}}</a>
                </nav>
            </div>

            <div class="estimate-total">
                Totalt <span id="total-hours">{{total}}h</span>
            </div>

            <button @click.prevent="getData">Get</button>

        </div>
    </div>
    </transition>

</template>

<script>
import * as Api from '../api/api'
import { templates } from '../templates'
import Group from './Group.vue'

export default {
	
    props: ['id'],

    mounted () {
        
        Events.$on('sortGroups', (oldIndex, newIndex) => {
            this.sortGroups(oldIndex, newIndex)
        })

        Events.$on('selectedClient', (client) => {
            this.estimate.client_id = client.clientId
            this.estimate.client = client.client
        })

        if( this.id )
            this.loadEstimate()

        this.makeGroupsSortable()

    },

    computed: {

        total() {
            return this.estimate.groups.reduce((carry, group) => {
                return carry += group.rows.reduce((carry, row) => carry += row.hours, 0)
            }, 0)
        }

    },

    methods: {
        
        loadEstimate() {
            Api.get(`estimates/${this.id}`,(response) => this.setData(response))
        },

        setData( data ) {
            this.estimate = data

            if( !this.estimate.groups )
                this.estimate.groups = []

            Events.$emit('estimateLoaded', this.estimate)

            this.isLoaded = true

        },

        addGroup( data ) {
            data.forEach(( item ) => this.estimate.groups.push(_.cloneDeep(item)))
        },

        makeGroupsSortable() {

            var groups = this.$el.querySelector('#estimate-items');

            Sortable.create( groups, {
                handle: '.handle',
                draggable: '.group',
                onEnd: ( e ) => {
                    this.sortGroups(e.oldIndex, e.newIndex);
                }
            });

        },

        sortGroups(oldIndex, newIndex) {

            var groups = this.estimate.groups
            groups.splice(newIndex, 0, groups.splice(oldIndex, 1)[0])
            this.estimate.groups = []
            
            this.$nextTick(() => {
                this.estimate.groups = groups
            })

        },

        handleGroupCollapse(groupId) {

            if( _.includes(this.collapsedGroups, groupId))
                _.pull(this.collapsedGroups, groupId)
            else
                this.collapsedGroups.push(groupId)
        },

        toggleAllGroupCollapse() {

            if( this.allGroupsCollapsed ) {
                this.collapsedGroups = []
                Events.$emit('visibleRows', true)
            } else {
                this.collapsedGroups = _.range(this.estimate.groups.length)
                Events.$emit('visibleRows', false)
            }

            this.allGroupsCollapsed = !this.allGroupsCollapsed

        },

        deleteGroup(id) {
            this.estimate.groups.splice(id, 1)
        },

        beforeEnter: function (el) {
            el.style.opacity = 0
        },
        
        enter: function (el, done) {
          anime({
            targets: el,
            opacity: 1,
            duration: 4000,
            easing: 'easeOutExpo'
          })
        }

    },

    components: {

        'e-group': Group

    },

    data() {
        return {

            previewModeEnabled: false,
            templates: templates,
            isLoaded: false,
            
            // Used for keeping collapsed groups, well, collapsed after sorting.
            collapsedGroups: [],
            allGroupsCollapsed: false,

            estimate: {
                client: '',
                description: '',
                tags: '',
                id: '',
                public: 1,
                groups: []
            }

        }
    }
}
</script>