<template>
	<div class="estimate-card" @click.prevent="goToEstimate">
		<h5 class="estimate-card__title">{{card.client.name}}</h5>
		<p class="text-small estimate-card__description">{{card.description}}</p>
		<p class="text-small estimate-card__created_at" v-if="viewType==2">{{card.created}}</p>
		<p class="text-small estimate-card__updated_at" v-if="viewType==2">{{card.updated}}</p>
		<p class="text-small estimate-card__created_by" v-if="viewType==2">{{card.user.name}}</p>
		<div class="estimate-card__sum"><i class="fa fa-fw fa-clock-o"></i> {{card.totalHours}}h</div>
	</div>
</template>

<script>
	export default {

		props: ['card', 'viewType', 'idx'],

		methods: {

			goToEstimate() {
				window.location.href="/" + this.card.id
			}

		}

	}
</script>