<template>
	
	<div>
		<label v-text="label" v-if="label"></label>
		<div class="fancy-checkbox" v-bind:class="{'is-active': isChecked }" @click.prevent="handleClick()">
			<input type="checkbox" v-show="false" :name="name" :checked="isChecked" :value="value">
			<div class="fancy-checkbox-handle"></div>
		</div>
	</div>

</template>

<script>
	export default {

		model: {
			prop: 'checked',
			event: 'change'
		},

		props: {
			value: { default: 0 },
			checked: { default: false, type: [Boolean, Number] },
			name: {},
			trueValue: { default: true },
			falseValue: { default: false },
			label: {}
		},

		watch: {
			checked(value) {
				this.isChecked = value===this.trueValue ? true : false
			}
		},

		data() {
			return {
				isChecked: this.checked
			}
		},

		methods: {
			handleClick() {
				this.$emit('change', this.checked ? this.falseValue : this.trueValue)
			}
		},
	}
</script>

<style>
	.fancy-checkbox {
		position: relative;
		display: inline-block;
		height: 26px;
		width: 50px;
		border-radius: 40px;
		background: #ddd;
		transition: .25s ease-out all;
		cursor: pointer;
		overflow: hidden;
	}
	.fancy-checkbox.is-active {
		background: #2d9;
	}
	.fancy-checkbox-handle {
		position: absolute;
		top: 3px;
		left: 3px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #999;
		transition: .25s ease-out all;
	}
	.fancy-checkbox.is-active .fancy-checkbox-handle {
		background: white;
		transform: translateX(24px);
	}
	.fancy-checkbox:active .fancy-checkbox-handle {
		width: 25px;
	}

</style>