<template>
    <div class="group">
                
        <h3 class="group__header h4">
            <span class="handle" data-for-client="false" v-if="!previewMode"></span>
            <input type="text" class="input-group-header" placeholder="Rubrik" v-model="group.title">
        </h3>

        <div class="item-list" :id="groupId" v-show="hasVisibleRows">
            <e-row
                @delete-row="deleteRow"
                @sort-rows="sortRows"
                v-for="row, idx in rows"
                :row="row"
                :id="idx"
                :isSort="isSort"
                :key="idx"
            ></e-row>
        </div>

        <div class="item-list-total">Total: {{ total }}h</div>
        <button 
            @click.prevent="addRow"
            class="add-new-list-item"
            v-if="!previewMode"
        >
            +
        </button>
        <button 
        @click.prevent="toggleRowCollapse"
        class="delete-item delete-group" tabindex="-1" style="right: 0px; color: #777" v-text="(hasVisibleRows) ? '-' : '+'"></button>
        <button 
        @click.prevent="$emit('delete-group', id)"
        v-if="!previewMode"
        class="delete-item delete-group" tabindex="-1">-</button>

    </div>
</template>

<script>
    import Row from './Row.vue'

    export default {
        props: {
            group: {type: Object, default: { title: '', rows: [] }},
            id: {type: Number},
            collapsed: {type: Array}
        },

        data() {
            return {
                previewMode: false,
                rows: this.group.rows,
                isSort: false,
                hasVisibleRows: true
            }
        },

        mounted() {
            
            this.$root.$on('previewMode', ( previewMode ) => {
                this.previewMode = previewMode
            })

            Events.$on('visibleRows', (show) => {
                this.hasVisibleRows = show;
            })

            if( _.includes(this.collapsed, this.id))
                this.hasVisibleRows = false

            this.makeRowsSortable()

        },

        computed: {

            total() {
                return this.rows.reduce((carry, row) => carry += row.hours, 0)
            },

            groupId() {
                return 'group_' + this.id
            }

        },

        methods: {
            
            addRow() {
                this.rows.push({
                    title: '',
                    hours: 0,
                    description: ''
                })

                this.hasVisibleRows = true;
                this.$emit('toggle-collapse', this.id)

            },

            toggleRowCollapse() {
                this.hasVisibleRows = !this.hasVisibleRows
                this.$emit('toggle-collapse', this.id)
            },

            makeRowsSortable() {

                var items = this.$el.querySelector('.item-list')

                // Create item sortables
                Sortable.create( items, {
                    handle: '.item-handle',
                    item: '.item',
                    onEnd: (e) => {
                        this.sortRows(e.oldIndex, e.newIndex)
                    }
                })

            },

            sortRows(oldIndex, newIndex) {

                this.isSort = true

                var rows = this.rows
                rows.splice(newIndex, 0, rows.splice(oldIndex, 1)[0])
                this.rows = []
                
                this.$nextTick(() => {
                    this.rows = rows
                })

                setTimeout(() => {
                    this.isSort = false
                }, 10)
                
            },

            deleteRow(id) {
                this.rows.splice(id, 1)
            }

        },

        components: {
            'e-row': Row
        }
    }
</script>