<template>
    <transition
    v-on:before-enter="beforeEnter"
    v-on:enter="enter"
    v-bind:css="false"
    >
        <div class="item">
            <div class="item__title">
                <span class="item-handle" data-for-client="false" v-if="!previewMode"></span> 
                <input type="text" class="input-item-header" placeholder="Moment" v-model="row.title">
                <div class="item__time">
                    <input v-model.number="row.hours" type="text" class="hour-input">
                </div>
            </div>
            <div class="item__description">
                <textarea 
                    class="input-item-description" 
                    tabindex="-1"
                    v-bind:class="{ 'empty' : !row.description }"
                    v-model="row.description"></textarea>
            </div>
            <button
                @click.prevent="deleteRow"
                v-if="!previewMode" class="delete-item delete-list-item" data-for-client="false" tabindex="-1">-</button> 
        </div>
    </transition>
</template>

<script>

    export default {
        props: ['row', 'id', 'isSort'],
        
        data() {
            return {
                previewMode: false,
            }
        },
        
        mounted() {
            this.$root.$on('previewMode', ( previewMode ) => {
                this.previewMode = previewMode
            })
        },

        computed: {

        },

        methods: {
            deleteRow() {
                this.$emit('delete-row', this.id);
            },

            beforeEnter: function (el) {
              if( ! this.isSort )
                el.style.opacity = 0
            },
            
            enter: function (el, done) {
              if( ! this.isSort )
                  anime({
                    targets: el,
                    translateY: [-20, 0],
                    opacity: 1,
                    easing: 'easeOutExpo'
                  })
            }
       },

        components: {

        }
    }
</script>