$primary-color: #2d9;
$color-dark: rgb(72, 80, 86);

* {
	margin: 0;
	padding: 0;
	line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

body {
	font-family: 'campton';
	font-size: 16px;
	background: #f9f9f9;
	color: #323232;
	overflow-x: hidden;

	@media print {
		font-size: 14px;
		font-family: 'Regular' !important;
		color: rgb(0, 0, 0) !important;
	}

}

#login-screen {
	.overlay-two,
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: .85;
		z-index: 2;
	}
	.overlay-two {
		background: black;
		opacity: .3;
		z-index: 3;
	}

img {
  vertical-align: middle;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* Container */
.l-container {
  position: absolute;
  z-index: 20;
  width: 24em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* Profile Card */
.profile {
  position: relative;
}
.profile--open {
}
.profile--open .profile__form {
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: translateY(-6em);
  padding-top: 4em;
}
.profile--open .profile__fields {
  opacity: 1;
  visibility: visible;
}
.profile__form {
  position: relative;
  background: white;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 3em;
  border-radius: .25em;
  box-shadow: 10px 10px 80px rgba(0, 0, 0, .6);
  transition: opacity .4s ease-in-out;
  transition-delay: 1s;
}
.profile__fields {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__avatar {
  position: absolute;
  z-index: 8;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  pointer-events: none;
  top: -60px;
  width: 6.8rem;
  height: 6.8rem;
  display: block;
	&:after {
		content: '\e600';
		font-family: 'vektoricons';
		font-size: 4.8rem;
		color: #2d9;
		position: absolute;
		top: 4px; 
		left: 9px;
		font-weight: 400;
	}
}
.profile__avatar:focus {
  outline: 0;
}
.profile__footer {
  padding-top: 1em;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Form */
.field {
  position: relative;
  margin-bottom: 2em;
}
.label {
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  top: -3rem;
  color: #999;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  color: #777;
  transition: all .2s ease-in;
}
.input:focus {
  outline: 0;
  border-color: #ccc;
}

/* Button */
.btn {
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: $primary-color;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}
.btn:focus {
  outline: 0;
}
.btn:hover,
.btn:focus {
  background: #A678E2;
}


}

.hide-for-print {
	@media print {
		display: none;
	}
}

button, button:active, button:focus {
	outline: 0 !important;
	@media print {
		display: none;
	}
}

textarea, textarea:hover, textarea:focus,
input, input:hover, input:focus {
	font-family: 'campton';
	outline: 0;
	font-weight: 500;
	font-size: 1em;
	font-weight: 500;
	padding: 0;
	margin: 0;
	border: 0;
	background: transparent;
	color: #323232;
	@media print {
		font-family: 'Regular' !important;
		color: black !important;
	}
}

.deep-filters {
	display: flex;
	flex-direction: row;
	margin: 0 2%;
	position: relative;
	padding: 1em;
	background: rgba(0, 0, 0, .01);
	border: 1px solid rgba(0, 0, 0, .02);

	border-radius: 5px;
	.filter-group {
		padding: 1em;
		width: 50%;
	}
}

.filters {
	display: flex;
	flex-direction: row;
	margin: 0 2%;
	position: relative;
	padding: 1em 0;
	
	&:before {
		position: absolute;
		font-family: 'FontAwesome';
		content: "\f002";
		top: 1.3em;
		left: 11px;
		color: #ccc;
		z-index: 10;
		font-size: 1.3em;
	}
}

textarea.text-field,
input.text-field {
	
	position: relative;
	padding: .7em .5em .5em;
	line-height: 0;
	background: white;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-weight: 400;
	transition: .15s ease-out all;

	&.clean {
		
		border: none;
		background: #f1f1f1;
		display: block;
		width: 100%;

		&:focus,
		&:hover {
			background: #e9e9e9;
		}

	}

	&.search {
		width: 100%;
		margin-right: 1em;
		padding-left: 40px;
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1),
					inset 0 1px 0 rgba(0, 0, 0, .05),
					inset 0 -1px 0 white;
	}

}

textarea.text-field {
	font-weight: 300;
	font-size: .85em;
	line-height: 1.2em;
}

.main-nav {

	display: inline-block;
	margin-left: 5em;

	@media print {
		display: none;
		height: 0;
	}

	&__item {
		color: rgba(255, 255, 255, .6);
		padding: 2.3em 1.5em;
		text-decoration: none;
		display: inline-block;
		font-size: 1em;
		line-height: 1em;
		transition: .15s ease-out all;

		i {
			margin-right: .5em;
		}
		
		&:hover,
		&:focus {
			color: $primary-color;
		}
		&.is-active {
			color: white;
		}
	}

}

.new-estimate-wrapper {
	position: relative;
	z-index: 21;
	height: 100%;
	display: flex;
	justify-content: center;
	padding: 1em 0 1em 1.5em;
}

.new-estimate-items {
	display: flex;
	justify-content: center;
}

.sub-nav-wrap {
	position: relative;
	z-index: 20;
	background: white;
	border-bottom: 1px solid #eee;
}

.sub-nav {

	height: 69px;
	position: relative;

	&__text {
		color: #666;
		line-height: 2.5em;
		margin-right: 1em;
	}

	&__item {
		color: #666;
		padding: 2.1em 1.5em 1.9em;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		font-size: .85em;
		line-height: .85em;
		border-bottom: 2px solid transparent;
		transition: .15s ease-out all;
		
		&:hover,
		&:focus,
		&.is-active {
			color: $primary-color;
			border-bottom: 2px solid transparent;
		}
		&.is-active {
			border-bottom: 2px solid $primary-color;
		}
	}

}

.sticky {
	top: 35px;
	position: sticky;
}

.input-group {
	margin: 0 0 2em 0;
	position: relative;
	z-index: 1;

	&.higher-z {
		z-index: 3;
	}

	&.inline {
		display: inline-block;
		margin-left: 30px;
	}

	&.flexed {
		display: flex;
		flex-direction: row;
		button {
			flex-grow: 1;
		}
	}

	small {
		font-weight: 300;
		font-size: .8em;
		line-height: 1;
		color: #888;
		margin-top: .5em;
		display: block;
	}

}

.btn + .btn {
	margin-top: .8em;
}

.btn {

	position: relative;
	align-self: flex-end;
	font-weight: 700;
	text-align: center;
	padding: .7em 1em .6em;
	border: none;
	border-radius: 40px;
	font-size: 1.1em;
	line-height: 1.1;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	transition: .15s ease-out all;
	box-shadow: inset 0 0 0 0px rgba(0, 0, 0, .3);
	padding-left: 44px;

	&.is-disabled {
		background: #eee !important;
		color: #fff;
		text-shadow: 0 -1px 0px rgba(0, 0, 0, .1);
		cursor: not-allowed;
	}

	&--has-icon {
		padding-left: 2.5em !important;
	}

	&--small {
		font-size: .9em;
		padding: .8em 2em .9em;
	}

	&-default {
		background: #777;
		color: white;

		&:hover {
			background: darken(#777, 5%);
		}
	}

	&-primary {
		background: $primary-color;
		color: white;
		&:hover {
			background: darken($primary-color, 5%);
		}
	}

	&-danger {
		background: #F47983;
		color: white;
		&:hover {
			background: darken(#F47983, 5%);
		}
	}

	&-box {
		font-size: 1.3rem;
		line-height: 0px;
		color: white;
		left: 0;
		display: inline-block;
		border-radius: 0;
		width: 33%;
		height: 45px !important;
		text-align: center;
		margin: 0;
		padding: 0;
		
		&.disabled {
			opacity: .3 !important;
			pointer-events: none;
			cursor: default;
		}

		&:first-of-type {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			z-index: 20;
		}

		&:last-of-type {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	i.fixed {
		position: absolute;
		top: 14px;
		left: 14px;
		transition: .25s ease-out all;
		z-index: 21;
		color: white;
	}

	&--small i.fixed {
		top: 13px; left: 13px;
	}

	i.fixed.after-hover {
		transform: translateX(-10px);
		opacity: 0;
	}

	&:focus,
	&:hover {

		i.fixed.before-hover {
			transform: translateX(15px);
			opacity: 0;
		}
		i.fixed.after-hover {
			transform: translateX(0);
			opacity: 1;
			top: 13px;
		}

	}

}

.inline-block-fix {
	font-size: 0;
}

p.estimate-description,
textarea.description {
	display: block;	
	width: 550px;
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
	color: #888;
	font-weight: 300;
	resize: none;
	@media print {
		line-height: 1.5em;
	}
}

.only-for-print {
	display: none !important;
	visibility: hidden !important;
	@media print {
		display: block;
		visibility: visible;
	}
}

p {
	font-size: 1em;
	line-height: 1em;
	margin: 0 0 1em 0;
	font-weight: 300;

	&.text-small {
		font-size: .85em;
	}

}

.muted {
	opacity: .3;
}

h1, .h1 {
	font-size: 4em;
	margin: 1.5em 0 .5em 0;
	font-weight: 700;
}
h2, .h2 {
	font-size: 3em;
	margin: 1.5em 0 .5em 0;
	font-weight: 700;
}
h3, .h3 {
	font-size: 2em;
	margin: 1.5em 0 .5em 0;
	font-weight: 700;
}
h4, .h4 {
	font-size: .8em;
	margin: 1.5em 0 .5em 0;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .2em;
	@media print {
		margin-top: 50px;
		font-weight: 700 !important;
	}
}
header {
	position: relative;
	padding: 0;
	background: $color-dark;
	color: white;
	
	@media print {
		border-bottom: none;
		background: transparent;
	}

}

.estimate-wrap {
	padding-bottom: 20em;
}

@keyframes pulseOut {
	0% { opacity: .35; transform: scale(1); }
	50% { transform: scale(2); }
	100% { opacity: 0; transform: scale(3); }
}

.checkbox-group {
	border-radius: 5px;
	padding: 0 .7em .2em .7em;
	max-height: 150px;
	overflow: scroll;
	background: #f1f1f1;

	label {
		cursor: pointer;
	}

	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;		
	}

	input[type="checkbox"] ~ .nice-checkbox {
		position: relative;
		display: inline-block;
		top: 4px;
		margin-right: 5px;
		width: 16px;
		height: 16px;
		background: #ccc;
		transition: .15s ease-out all;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $primary-color;
			opacity: 0;
		}

		&:after {
			content: '\f00c';
			font-family: 'FontAwesome';
			transition: .15s ease-out all;
			color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: .9em;
			opacity: 0;
			transform: translateX(-50%) translateY(-50%) scale(0);
		}

	}

	input[type="checkbox"]:checked ~ .nice-checkbox {
		background: $primary-color;
		&:after {
			transform: translateX(-50%) translateY(-50%) scale(1);
			opacity: 1;
		}
		&:before {
			animation: pulseOut .5s ease-out forwards;
		}
	}

}

nav.sidebar {
	position: fixed;
	z-index: 5;
	display: flex;
	flex-flow: column;
	justify-content: top;
	align-items: center;
	top: 0;
	left: 0;
	width: 70px;
	height: 100vh;
	// transform: translateX(-90%);
	background: #323232;
	text-align: center;
	-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
	z-index: 1500;

	@media print {
		display: none;
	}

}
.sidebar__link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 70px;
	width: 100%;
	color: #fff;
	text-decoration: none;
	transition: .15s ease all;
	z-index: 10;

	&:after {
	content: "";
	-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);/* easeInBack */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(-35%);
		opacity: 0;
		background-color: #16a085;
	}

	&:last-child:after {
		background-color: #F47983;	
	}

	&:focus,
	&:hover {
		
		&:after {
			transform: translateX(0);
			opacity: 1;
		}

		i {
			opacity: 1;
		}

		&.btn--tooltip span.tooltip {
			transform: translateY(-50%) translateX(0);
			opacity: 1;
		}

		.context-menu {
			transform: translateY(0);

			a:nth-child(1) {
				transform: translateY(0);
				transition-delay: .1s;
				opacity: 1;
			}
			a:nth-child(2) {
				transition-delay: .2s;
				opacity: 1;
				transform: translateY(0);
				
			}
			a:nth-child(3) {
				transition-delay: .3s;
				opacity: 1;
				transform: translateY(0);

			}

		}

	}

	nav.context-menu {

		position: absolute;
		z-index: -1;
		top: 0;
		left: 100%;
		max-width: 250px;
		padding: 1.5em;
		background-color: #16a085; 
		transform: translateY(-100%);

		-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);/* easeInBack */

		i {
			transition: none;
		}
		a {
			color: white;
			opacity: 0;
			display: block;
			text-align: left;
			font-weight: 400;
			text-decoration: none;
			font-size: .8em;
			white-space: nowrap;
			padding: .5em 0;
			transform: translateY(-25px);
			-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
			   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
			     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
			        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);/* easeInBack */
			
			&:hover i,
			&:hover {
				transition: none;
				color: rgba(0, 0, 0, .7);
			}
		}

	}

	span.tooltip {
		position: absolute;
		z-index: 20;
		top: 50%;
		left: 100%;
		background: #323232;
		padding: .5em 1em .3em;
		
		color: white;
		font-weight: 700;
		font-size: .8em;
		line-height: 1;
		letter-spacing: -.04em;

		transform: translateY(-50%) translateX(-100%);
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		white-space: nowrap;
		opacity: 0;
		-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);/* easeInBack */

	    // -webkit-transition-delay: .15s; Safari
	    // transition-delay: .15s;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -10px;
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right: 10px solid #323232;
			z-index: 2;
		}

	}

	i {
		position: relative;
		z-index: 1;
		transition: .15s ease all;
		color: white;
		opacity: .6;
	}

}

a.animated-border {
	position: relative;
	padding-bottom: .5em !important;
}

a.animated-border:before,
a.animated-border:after {
	content: "";
	height: 3px;
	width: 0;
	position: absolute;
	background: white;
	bottom: 0px;
	opacity: 0;
	-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}
a.animated-border:before {
	right: 50%;
}
a.animated-border:after {
	left: 50%;
}

a.animated-border:hover:before,
a.animated-border:hover:after {
	width: 50%;
	opacity: 1;
}

.small {
	position: relative;
	left: 65px;
	top: 4px;
	font-size: .8em;
	color: $primary-color;
	text-transform: uppercase;
	letter-spacing: .2em;
	@media print {
		display: none;
	}
}

body,html {
	min-height: 100vh;
}

label {
	display: block;
	text-transform: uppercase;
	@extend .h4;
	font-size: .7em;
	color: #777;

	&.forBox {
		text-transform: none;
		margin: .6em 0;
		font-weight: 400;
		font-size: .8em;
		letter-spacing: 0;

		&:focus,
		&:hover {
			color: #555;
			.nice-checkbox {
				background: #aaa;
			}
		}

	}

}

.container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: calc(100vh - 90px);
}

.estimate-container {
	flex: 1;
	padding: 40px 100px;
	@media print {
		padding: 0;
		margin-top: 100px;
	}
}
.estimate-controls {
	width: 300px;
	padding: 2em;
	background: white;
	border-right: 1px solid #eee;
}

.wrap {
	position: relative;
	max-width: 1280px;
	padding: 0 1em;
	margin: 0 auto;
}
.wrap--main {
	padding: 2em;
}

.divider {
	text-align: center;
}
.divider:after {
	content: "\e603";
    display: block;
    font-size: 7px;
    color: #2d9;
    margin-top: 2.5em;
    font-family: 'vektoricons';
    @media print {
    	color: #000;
    }
}

#dazy-logo {
	fill: rgb(255, 255, 255);
	@media print {
		fill: rgb(0, 0, 0);
		max-width: 80px !important;
	}
}
.logo {
	display: inline-block;
	margin: 0 !important;
	color: #323232;
	padding-left: 1.7rem;
	position: relative;
	height: 44px;
}
.logo:before {
	content: '\e600';
	font-family: 'vektoricons';
	font-size: 2.8rem;

	@media print {
		font-size: 4rem;
	}

	color: #2d9;
	position: absolute;
	top: 18px; 
	left: 9px;
	font-weight: 400;
}

.sortable-ghost {
	opacity: 0;
}

.sortable-drag {
	opacity: 1 !important;
}

.estimate-items {
	margin: 4em 0;
}

.item-handle,
.handle {
	position: relative;
	z-index: 100;
	top: 1px;
	display: inline-block;
	width: 14px;
	height: 12px;
	text-align: center;
	border-bottom: 2px solid #2d9;
	cursor: move;
	@media print {
		display: none;
	}
}
.item-handle {
	border-bottom: 1px solid #bbb;
	height: 11px;
}

.item-handle:before,
.item-handle:after,
.handle:before,
.handle:after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #2d9;
}
.item-handle:before,
.item-handle:after {
	height: 1px;
	background: #bbb;
}

.handle:before, .item-handle:before { top: 0; }
.handle:after, .item-handle:before { top: 50%;  }

.group {
	position: relative;
	margin: 0 0 3em 0;

	@media print {
		margin: 0 0 1em 0;
		page-break-before: auto;
		page-break-inside: avoid;
	}

}
	.group__header {
		border-bottom: 1px dotted #ccc;
		padding-bottom: .5em;
		margin-bottom: 1em;
		@media print {
			border-bottom: none;
		}
	}
	.group__header input {
		font-size: 1em;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .2em;
		width: calc(100% - 30px);
		margin-left: 10px;
		@media print {
			color: #000;
			font-weight: 700;
		}
	}
	.group__header input:focus {
		background: white;
	}

	.group__header:hover {
		cursor: grab;
		cursor: move;
	}

/*
	Items
 */

.item-list-total {
	text-align: right;
	color: #2d9;
	padding: .5em 0 0 0;
	@media print {
		font-weight: 700;
		color: #000;
	}
}

.item {
	position: relative;
	margin: 0 0 1px 0;
	padding: .5em;
	border-bottom: 1px solid #eee;
	background: white;
	z-index: 10;
	@media print {
		border-bottom: none;
		page-break-before: avoid;
		page-break-after: avoid;
		padding-left: 0;
	}
}

.item-list .item:last-of-type {
	margin: 0;
}
.item__title input {
	position: relative;
	width: calc(100% - 100px);
	margin-left: 10px;
}

.item__title input:focus {
	background: white;
}

.item__time {
	float: right;
	font-weight: 700;
	width: 50px;
}
.item__time .hour-input {
	width: 100%;
	text-align: right;
	margin-left: 0;
}
.item__description textarea {
	font-weight: 300;
    font-size: .8em;
    width: calc(100% - 23px);
    resize: none;
    margin-left: 23px;
    margin-top: 3px;
    border: 1px dashed transparent;

	&.empty {
	    @media print {
	    	display: none;
	    }
	}

	@media print {
		margin-left: 10px;
		margin-bottom: 0;
		height: auto;
		min-height: 0;
	}

}
.item:not(.no-hover):hover textarea.empty {
	border: 1px dashed #ccc;
}
.item__description textarea:focus {
	background: white;
}

/*
	Buttons
 */
.delete-item,
.add-new-group,
.add-new-list-item {
	width: 100%;
	background: white;
	text-align: center;
	font-size: 1em;
	padding: .3em;
	border: 0;
	font-weight: 700;
	transition: .2s ease all;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	margin-top: 1em;
	@media print {
		display: none;
	}
}

.add-new-group {
	position: relative;
	margin-bottom: 1em;
	cursor: default;
	@media print {
		display: none;
	}
}
.add-new-group nav {
	position: absolute;
	z-index: 500;
	top: 100%;
	left: 0;
	width: 100%;
	text-align: left;
	max-height: 0 !important;
	min-height: 0;
	background: #2d9;
	opacity: 0;
	overflow: scroll;
	-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */

	@media print {
		display: none;
	}
}
.add-new-group:hover nav {
	min-height: 120px;
	max-height: none;
	opacity: 1;
}

.add-new-group nav a {
	display: inline-block;
	text-align: left;
	color: white;
	padding: 0;
	margin: 1.5em 1em 1.5em 1.5em;
	font-size: 1em;
	text-decoration: none;
} 

.add-new-list-item:hover,
.add-new-group:hover {
	color: #2d9;
}
.add-new-list-item {
	width: auto;
	margin-top: 4px;
}
.delete-item {
	position: absolute;
	top: -5px;
	right: -40px;	
	width: auto;
	color: #ff0000;
	margin-top: 0;
	background: transparent;
	border-bottom: none;
	@media print {
		display: none;
	}
}

.estimate-total {
	padding: 1em .2em;
	border-top: 4px solid #2d9;
	text-align: right;
	font-weight: 700;
	@media print {
		border-top: 4px solid black;
	}
}
#total-hours {
	display: inline-block;
	margin-left: 40px;
	color: #2d9;
	@media print {
		color: #000 !important;
		font-family: 'Regular' !important;
	}
}

.button-group + .button-group {
	margin-left: 10px;
}

.button-group {

	font-size: 0;
	display: inline-block;

	button {
		display: inline-block;
		margin: 0;
		padding: 0;
		padding: .45rem .85rem;
		font-size: .85rem;
		font-weight: 400;
		border: none;
		border-right: 1px solid;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: #ddd;
		cursor: pointer;
		transition: .15s ease-out all;

		&:hover {
			border-color: #ccc;
		}

		&.is-active {
			color: white;
			background: $primary-color;
			border-right: none;
			border-bottom: 1px solid $primary-color;
			border-top: 1px solid $primary-color;
			&:first-of-type {
				border-left: 1px solid $primary-color;
			}
		}

	}

	button:first-of-type {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-left: 1px solid #ddd;
	}
	button:last-of-type {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

}

/* Cards */

.list-headers {

	width: 100%;
	display: flex;
	align-items: center;
	padding: .85em .85em 0;
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
	margin: 2% 4% 0 2%;
	margin-right: 4%;
	transition: .1s ease-out all;
	text-align: left;

	p {
		font-weight: 700;
		padding: 0 .75em;
		cursor: pointer;
	}

	p:nth-child(1) { display: inline-block; width: 17%; padding: 0 }
	p:nth-child(2) { display: inline-block; width: 25%; }
	p:nth-child(3) { display: inline-block; width: 14%; }
	p:nth-child(4) { display: inline-block; width: 14%; }
	p:nth-child(5) { display: inline-block; width: 21%; }
	p:nth-child(6) { display: inline-block; text-align: right; }
}

.estimate-list {
	
	&--grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
	}

	&--list {
		display: block;
		margin-right: 4%;
	}

}

.estimate-card {

	position: relative;
	flex-grow: 1;
	width: 25%;
	margin: 2%;
	padding: 1em 1em 1.5em;
	border-top: 4px solid $primary-color;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	background: white;
	box-shadow: -1px 5px 5px -3px rgba(0,0,0,0.2);
	transition: .1s ease-out all;
	cursor: pointer;

	.estimate-list--list & {

		width: 100%;
		display: flex;
		align-items: center;
		padding: .85em;
		padding-right: 150px;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #eee;
		box-shadow: none;
		margin: 0 2%;
		transition: .1s ease-out all;
		text-align: left;

		p {
			position: relative;
			top: .2em;
			font-size: .85em;
			margin-bottom: 0;
			color: #666;
			padding: 0 .75em;
		}

		.estimate-card__description { 
			width: 30%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.estimate-card__created_at { width: 17%; }
		.estimate-card__updated_at { width: 17%; }
		.estimate-card__created_by { width: 17%; }

	}

	.estimate-list--grid & {
		&:hover {

			transform: translate3d(-2px, -2px, 0) !important;
			box-shadow: -1px 10px 10px -7px rgba(0,0,0,0.3);

		}

		&:active {

			transform: translate3d(1px, 1px, 0) !important;
			box-shadow: -1px 5px 5px -3px rgba(0,0,0,0.1);

		}
	}

	.estimate-list--list & {
		&:hover {

			background: $primary-color;
			color: white !important;

			p, h5, .estimate-card__sum {
				color: white;
			}
			
		}

		&:active {

			

		}
	}

	&__title {
		font-weight: 300;
		font-size: 1.4em;
		margin-bottom: .5em;
		letter-spacing: -.07em;

		.estimate-list--list & {
			margin-bottom: 0;
			width: 20%;
			font-size: .85em;
			font-weight: 300;
		}

	}

	&__sum {
		font-size: .85em;
		text-align: right;
		position: absolute;
		bottom: .5em;
		right: .5em;
		display: inline-block;
		padding: .5em .5em .4em .5em;
		color: white;
		line-height: .85em;
		background: $primary-color;

		.estimate-list--list & {
			background: transparent;
			color: $primary-color;
			bottom: auto;
		}

	}

}

@font-face {
	font-family: 'Regular';
	src: url('../fonts/Regular-Regular.eot');
	src: local('☺'), url('../fonts/Regular-Regular.woff') format('woff'), url('../fonts/Regular-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Regular';
	src: url('../fonts/Regular-Bold.eot');
	src: local('☺'), url('../fonts/Regular-Bold.woff') format('woff'), url('../fonts/Regular-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'campton';
	src: url('../fonts/campton/2E1C1C-300.eot');
	src: url('../fonts/campton/2E1C1C-300.eot?iefix') format('eot'),
		 url('../fonts/campton/2E1C1C-300.woff') format('woff'),
		 url('../fonts/campton/2E1C1C-300.ttf') format('truetype'),
		 url('../fonts/campton/2E1C1C-300.svg#campton-300') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'campton';
	src: url('../fonts/campton/2E1C1C-500.eot');
	src: url('../fonts/campton/2E1C1C-500.eot?iefix') format('eot'),
		 url('../fonts/campton/2E1C1C-500.woff') format('woff'),
		 url('../fonts/campton/2E1C1C-500.ttf') format('truetype'),
		 url('../fonts/campton/2E1C1C-500.svg#campton-500') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'campton';
	src: url('../fonts/campton/2E1C1C-700.eot');
	src: url('../fonts/campton/2E1C1C-700.eot?iefix') format('eot'),
		 url('../fonts/campton/2E1C1C-700.woff') format('woff'),
		 url('../fonts/campton/2E1C1C-700.ttf') format('truetype'),
		 url('../fonts/campton/2E1C1C-700.svg#campton-700') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'campton';
	src: url('../fonts/campton/2E1C1C-700.eot');
	src: url('../fonts/campton/2E1C1C-700.eot?iefix') format('eot'),
		 url('../fonts/campton/2E1C1C-700.woff') format('woff'),
		 url('../fonts/campton/2E1C1C-700.ttf') format('truetype'),
		 url('../fonts/campton/2E1C1C-700.svg#campton-700') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'vektoricons';
	src:url('../fonts/vektoricons/vektoricons.eot');
	src:url('../fonts/vektoricons/vektoricons.eot?iefix') format('embedded-opentype'),
		url('../fonts/vektoricons/vektoricons.woff') format('woff'),
		url('../fonts/vektoricons/vektoricons.ttf') format('truetype'),
		url('../fonts/vektoricons/vektoricons.svg#vektoricons') format('svg');
	font-weight: 400;
	font-style: normal;
}

.dropdown-list {
	position: absolute;
	z-index: 1500;
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	max-width: 250px;
	max-height: 240px;
	background: $color-dark;
	border-radius: 4px;

	.inner-content {
		overflow: scroll;
		max-height: 240px;
	}

	&:after {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		z-index: 200;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: $color-dark;
		border-width: 6px;
		margin-left: -6px;
	}


	&__item {
		
		cursor: pointer;
		padding: .6em .8em .5em .6em;
		color: white;
		font-size: .75em;
		border-left: 4px solid transparent;

		&:first-child {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		&:last-child {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&:hover,
		&.is-selected {
			background: lighten($color-dark, 5%);
			border-left: 4px solid $primary-color;
		}

	}

}

.rel {
	position: relative;
}

.il-block {
	display: inline-block;
}

.abs {
	position: absolute;

	&--top-left {
		top: 0;
		left: 0;
	}

}